/*	Basic Reset and General */
* { 
	margin: 0px; 
	padding: 0px; 
}
html, body {
	min-width: 435px;
	min-height: 1000px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}




@keyframes pulse {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes pulse {
	0%   { opacity: 0; }
	50%  { opacity: 1; }
	100% { opacity: 0; }
}




/*	The Device */

div.iphone {
	height: 810px; width: 435px; 
	position: absolute;
	margin: auto;
	top: 0px; bottom: 80px; left: 0px; right: 0px;
	background: url('http://creativeda.sh/sandbox/social_menu/img/iphone.png') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.screen {
	height: 568px; width: 320px;
	position: absolute;
	top: 119px; left: 59px;
	overflow: hidden;
	position: relative;
}


/*	Content */
div.menu {
	position: absolute;
	height: 100%; width: 100%;
	background: url('http://creativeda.sh/sandbox/social_menu/img/blur.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.menu ul { 
	width: 600px;
	list-style: none; 
	margin: 95px 0px 0px 75px;
}
div.menu li {

	margin-bottom: 20px;

	-webkit-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-moz-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-ms-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-o-transition: all 400ms ease-in-out, opacity 1000ms ease;
	transition: all 400ms ease-in-out, opacity 1000ms ease;
	-webkit-transform: translate3d(-150px, 0px, 0px) scale(0.2);
	opacity: 0;
}
div.menu li.visible {
	-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
	opacity: 1;
}

div.status {
	top: 0px; left: 0px;
	z-index: 200;
	opacity: 0.99; /* opacity stack hack */
	height: 20px; width: 100%;
	background: white; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index:2;
}
div.status.active {
	background-image: url('http://creativeda.sh/sandbox/social_menu/img/status_white.png'); 
}

div.content {
	top: 0px; left: 0px;
	z-index:3;
	opacity: 0.99; /* opacity stack hack : http://philipwalton.com/articles/what-no-one-told-you-about-z-index/ */
	height: 550px; width: 320px;
	background: rgb(250, 250, 250);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-backface-visibility: hidden;
}
div.content.inactive {
	cursor: pointer;
	-webkit-transform: translate3d(160px, 0px, 0px) scale(0.5);
	-moz-transform: translate3d(160px, 0px, 0px) scale(0.5);
	-ms-transform: translate3d(160px, 0px, 0px) scale(0.5);
	transform: translate3d(160px, 0px, 0px) scale(0.5);
}

div.content *{
	z-index:inherit;
}

div.content h1{
	color: black;
    font-family: "FranchiseRegular","Arial Narrow",Arial,sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-top: 0px;
    padding: 2px 0 30px;
    text-align: center;
	padding-bottom: 2px;
}

div.content h1:after{
	background: -moz-linear-gradient(left center , rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: " ";
    display: block;
    height: 2px;
    margin-top: 25px;
    width: 100%;
}


div.button {
	padding: 10px 0 15px 15px;
	display: inline-block;
	width: 30px; height: 30px;
	cursor: pointer;
}
/*Menu buttons*/	
.shiny {
	padding: 4px 20px;
	/*give the background a gradient*/
	background:#f3f3f3; /*fallback for browsers that don't support gradients*/
	background: -webkit-linear-gradient(top, #f3f3f3, #eceef0);
	background: -moz-linear-gradient(top, #f3f3f3, #eceef0);
	background: -o-linear-gradient(top, #f3f3f3, #eceef0);
	background: linear-gradient(top, #f3f3f3, #eceef0);
	border:2px outset #dad9d8;
	/*style the text*/
	font-family:Andika, Arial, sans-serif; /*Andkia is available at http://www.google.com/webfonts/specimen/Andika*/
	font-size:1.1em;
	letter-spacing:0.05em;
	text-transform:uppercase;
	color:#fff;
	text-shadow: 0px 1px 10px #000;
	/*add to small curve to the corners of the button*/
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
	-moz-box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
	box-shadow: rgba(0, 0, 0, .55) 0 1px 6px;
}
/****NOW STYLE THE BUTTON'S HOVER STATE***/
.shiny:hover, .shiny:focus {
	border:2px solid #dad9d8;
}
/*http://stackoverflow.com/questions/6447045/css3-selector-first-of-type-with-class-name*/
div.config-options{
	margin-top: 25px; 
	padding: 5px;
}