#alarm-triggered{
}
#alarm-ringtones{
}
fieldset {
	margin-left:10px;
	margin-right:10px;
	padding: 10px;
}

fieldset div{
	display:inline-table;
}
legend {
	font-size: 1.3em;
	font-weight: bold;
}
label {
	width: 200px;
	border-radius: 3px;
	border: 1px solid #D1D3D4
}

input[type="radio"]{
    visibility:hidden;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.5em;
	text-indent: 2.25em;
	margin-top: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2em;
	background: #7ab5ec;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #ffffff;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #ffffff;
	background-color: #afeeee;
}

input.radio:checked ~ label {
	color: #777;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

/*File Browser*/


div.custom_file_upload {
	width: 230px;
	height: 20px;
	margin: 20px auto ;
}

input.file {
	width: 150px;
	height: 32px;
	border: 1px solid #BBB;
	border-right: 0;
	color: #888;
	padding: 5px;
	
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	
	outline: none;
}

div.file_upload {
	width: 80px;
	height: 24px;
	background: #7abcff;
	background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
	background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

	display: inline;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	font-weight: bold;
	color: #FFF;
	text-align: center;
	padding-top: 8px;
}
div.file_upload:before {
	content: 'Choose';
	position: absolute;
	left: 0; right: 0;
	text-align: center;
	
	cursor: pointer;
}

div.file_upload input {
	position: relative;
	height: 30px;
	width: 250px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}
/*Error dialog*/
/*-------------------------
		Button
		--------------------------*/


		.button-holder{
			text-align:center;
			padding-bottom:100px;
		}

		a.button{
			background-color:#f6a7b3;

			background-image:-webkit-linear-gradient(top, #f6a7b3, #f0a3af);
			background-image:-moz-linear-gradient(top, #f6a7b3, #f0a3af);
			background-image:linear-gradient(top, #f6a7b3, #f0a3af);

			border:1px solid #eb9ba7;
			border-radius:2px;

			box-shadow:0 2px 2px #ccc;

			color:#fff;
			text-decoration: none !important;
			padding:15px 20px;
			display:inline-block;
			cursor:pointer;

			position:relative;
			z-index: 1;
		}

		a.button:hover{
			opacity:0.9;
		}



		/* Button Slide */


/*-------------------------
	Alarm Dialog
	--------------------------*/


	/* Hide the arrows dispayed in number inputs in webkit */

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		display: none;
	}


	.overlay{
		display:none;
		position:fixed;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background-color:rgba(0,0,0,0.2);
		z-index:10;
	}

	#error{
		width:280px;
		height:200px;
		background-color:#fff;
		border-radius:2px;
		box-shadow: 0 0 8px rgba(0,0,0,0.2);
		position:fixed;
		top:200px;
		left:57%;
		margin-left:-250px;
		text-align:center;
	}







	.button.blue{
		background-color:#82cddd;

		background-image:-webkit-linear-gradient(top, #86d3e4, #82cddd);
		background-image:-moz-linear-gradient(top, #86d3e4, #82cddd);
		background-image:linear-gradient(top, #86d3e4, #82cddd);

		border-color:#72c1d2;
	}




	#error{
		height: 80px;
	}
	#error h2{
		padding: 30px auto 20px;
		font-size: 15px;
	}
	#error.button{
		padding: 5px 5px;
		box-shadow: 0 2px 2px #eee;
	}

